body {
    background-color: #212121;

    font-family: Andale Mono,AndaleMono,monospace; 
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 14px;
    color: #f5f6fa;
}

#container {
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
}

#left-panel {
    width: 680px;
    height: 580px;
    float: left;
    border: 1px solid rgb(127, 140, 141);
    margin-right: 10px;
}

#right-panel {
    width: 280px;
    height: 580px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    overflow: visible;
    border: 1px solid rgb(127, 140, 141);
    /*box-shadow: 1px 2px 2px black;*/
}

#output {
    width: 620px;
    height: 449px;
    padding: 30px;
}
    .start-char {
        /* positioning */
        position: relative;
        top: 18px;
        left: -12px;
        font-size: 18px;
        z-index: -1;
    }

#chat-input {
    width: 660px;
    height: 50px;
    padding: 10px;
    background-color: #202c33;
    margin: auto;
    border-top: 1px solid rgb(127, 140, 141);
    /*box-shadow: inset 0px 0px 5px#000;*/
    /*padding-bottom: 10px;*/
}
    #chat-input textarea {
        /* size */
        width: 610px;
        height: 50px;
        /*padding: 10px;
        padding-right: 35px;*/

        /* font styling*/
        font-family: Andale Mono,AndaleMono,monospace; 
        letter-spacing: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        color: #f5f6fa;

        /* border styling */
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid rgb(127, 140, 141);

        /* styling */
        resize: none;
        box-sizing: border-box;
        background-color: #2a3942;
    }
        #chat-input textarea:focus {
            outline-color: transparent;
            outline-style: none;
        }
        /*
        #query-form textarea::placeholder {
            font-family: Andale Mono,AndaleMono,monospace; 
            letter-spacing: 0px;
        }
        */

    #chat-input button {
        /* size and shape */
        height: 51px;
        width: 40px;
        border-radius: 6px;
        padding-bottom: 10px;
        
        /* positioning */
        position: relative;
        top: -17px;
        left: 0px;

        /* font styling */
        font-family: Andale Mono,AndaleMono,monospace; 
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 24px;
        color: #f5f6fa;
        padding-right: 2px;
        padding-top: 8px;

        /* styling */
        cursor: pointer;
        border: 1px solid rgb(127, 140, 141);
        background-color: #2a3942;

    }
        #query-form button:hover {
            background-color: #636e72;
        }

.text {
    margin: 0;
    padding: 0;
    float: left;
    white-space: pre;
}
    .text:hover {
        cursor: pointer;
    }
    .selected {
        text-decoration: underline;
        text-decoration-color: rgb(39, 174, 96);
        text-decoration-thickness: 3px;
    }
    .uncertainty {
        background-color: #c0392b;
    }

g {
    overflow: visible;
}

svg {
    overflow: visible;
}

.domain {
    visibility: hidden;
}

.tick line {
    visibility: hidden;
}

.tick text {
    /* font styling */
    font-family: Andale Mono,AndaleMono,monospace; 
    letter-spacing: 1px;
    font-size: 12px;
    color: #f5f6fa !important;
}

.bar {
    fill: rgb(39, 174, 96);
}
.axis text {
    font-size: 12px;
}
.axis path,
.axis line {
    stroke: #000;
}